#breadcrumb { display: none; }
#block-user-login #edit-name,
#block-user-login #edit-pass { width: 95%; }

.page-user .tabs.primary { display:none; }
h2 small { font-size: 0.7em !important; }

fieldset legend { position: relative !important; background-color:transparent !important}
legend { border:0 none !important; }

#work-shift-node-form .form-item-title { display:none;}
#work-shift-node-form #edit-field-yogurt-week-date { display:none; }
.node-type-work-shift .tabs.primary { display: none; }

/*
.display-none { display: none !important; }
.node-type-work-shift .form-item-field-primary-cook-und-0-target-id { display: none; }
.node-type-work-shift.admin-menu .form-item-field-primary-cook-und-0-target-id { display: inline; }
.node-type-work-shift.admin-menu .form-item-field-primary-cook-und-0-target-id .display-none { display: inline !important; }
*/
.node-type-work-shift .form-item-field-comment-und-0-value { margin-top:10px; }
#field-cook-date-add-more-wrapper .fieldset-legend { display: none; }
#field-cook-date-add-more-wrapper { margin-top: -60px; }

.work-shift.row { border-bottom: 1px solid #aaa; }
.work-shift.row .btn-group { margin-top: 4px; }

.page-user #page-title { display: none; }
.page-user .custom-title { margin-top: -1em; }

.large { font-size: 1.3em; }

.page-node-edit-signup table#field-joint-cooks-values tr th { background-color: white; }
.page-node-edit-signup table#field-joint-cooks-values tr th label { font-size: 1.3em; margin-top:5px; }
.page-node-edit-signup .tabledrag-toggle-weight { display: none; }
#field-cook-date-add-more-wrapper legend {display: none; }

.page-node-edit-signup #field-joint-cooks-add-more-wrapper { display: none; }

.page-node-edit-join #field-joint-cooks-add-more-wrapper,
.page-node-edit-join #field-cook-date-add-more-wrapper { display: none; }

.page-node-edit-cancel #field-joint-cooks-add-more-wrapper,
.page-node-edit-cancel #field-cook-date-add-more-wrapper,
.page-node-edit-cancel #field-comment-add-more-wrapper { display: none; }


.alert.margin-bottom-4em { margin-bottom: 4em; }
.alert.margin-top-05em { margin-top: 0.5em; }
